<div class="card shadow-effect">
  <img src="https://i.pinimg.com/564x/ce/c9/d6/cec9d6dfc5cfa9c3754bf00cf5a14008.jpg"
       alt="post-image" class="card-img-top">

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Books </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views -100,256 </small>

    <h5 class="mt-1">Graveyard Shift</h5>
    <p>Cuando un grupo de empleados de una fábrica de materiales es enviado a
      las bodegas inferiores del edificio para hacer una limpieza exhaustiva,
      comienzan a tener problemas con los ratones, los cuales se vuelven más y
      más extraños conforme van descendiendo a lo más bajo del lugar.</p>
  </div>

  <small class="bg-light text-info text-center ml-3">Last updated - Jun 17, 2023</small>
</div>
