<!-- Render the Header component -->
<app-header></app-header>

<!-- Render the Category Navbar component -->
<app-category-navbar></app-category-navbar>

<div class="app-body">
  <!-- Render the application components -->
  <router-outlet></router-outlet>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <!-- Render the subscription form components -->
    <app-subscription-form></app-subscription-form>
  </div>
</div>

<!-- Render the footer component -->
<app-footer></app-footer>
