<!-- Render the Header component -->
<app-header></app-header>

<!-- Render the Category Navbar component -->
<app-category-navbar></app-category-navbar>

<div class="app-body">
  <!-- Render the Post Card component -->
  <app-post-card></app-post-card>

  <!-- Render the Subscription Form component -->
  <app-subscription-form></app-subscription-form>
</div>

<!-- Render the footer component -->
<app-footer></app-footer>

<!-- Render the application components -->
<router-outlet></router-outlet>
