<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOYwpEK4C98c3xR6r3hfFZzjwrt7YcVLpdVA&usqp=CAU"
             alt="" class="card-img-top img-fluid">

        <div class="card-body">
          <small class="bg-light text-danger text-center">Books</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views 100,250</small>
          <small class="bg-light text-warning text-center ml-2">LAST UPDATED JUN-17, 2023</small>

          <h1 class="mt-3 mb-3">Graveyard Shift</h1>

          <p>When an abandoned textile mill is reopened, several employees meet mysterious deaths.
            The link between the killings: all occurred between the hours of 11 p.m. and 7 a.m.
            - the Graveyard Shift. The ic mill foreman (Stephen Macht) has chosen a group to clean up
            the mill's rat-infested bat. But what the workers find is a subterranean maze of tunnels
            leading to the cemetery - and an unimaginable horror that comes alive in the dead of the night.</p>
        </div>
      </div>

      <app-comment-form></app-comment-form>

      <app-comment-list></app-comment-list>

    </div>

    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>

  </div>
</div>
